[submodule "lib/glfw-rs"]
	path = lib/glfw-rs
	url = https://github.com/sebcrozet/glfw-rs.git
[submodule "lib/rust-stb-image"]
	path = lib/rust-stb-image
	url = https://github.com/sebcrozet/rust-stb-image.git
[submodule "lib/nalgebra"]
	path = lib/nalgebra
	url = https://github.com/sebcrozet/nalgebra.git
[submodule "lib/gl-rs"]
	path = lib/gl-rs
	url = git://github.com/sebcrozet/gl-rs.git
[submodule "lib/rust-freetype"]
	path = lib/rust-freetype
	url = git://github.com/sebcrozet/rust-freetype.git
[submodule "lib/rust-ffmpeg"]
	path = lib/rust-ffmpeg
	url = git://github.com/sebcrozet/rust-ffmpeg.git
[submodule "lib/nprocgen"]
	path = lib/nprocgen
	url = git://github.com/sebcrozet/nprocgen
