[submodule "glfw-rs"]
	path = glfw-rs
	url = git://github.com/sebcrozet/glfw-rs.git
[submodule "glcore-rs"]
	path = glcore-rs
	url = git://github.com/sebcrozet/glcore-rs.git
[submodule "nalgebra"]
	path = nalgebra
	url = git://github.com/sebcrozet/nalgebra.git
[submodule "rust-stb-image"]
	path = rust-stb-image
	url = git://github.com/sebcrozet/rust-stb-image.git
