*.swp
*.swo
*.so
*.rlib
*.dSYM
*.dylib
cargo.lock
target
bin/camera
bin/cube
bin/event
bin/primitives
bin/primitives_scale
bin/quad
bin/texturing
bin/window
bin/lines
bin/post_processing
bin/wireframe
bin/add_remove
bin/obj
bin/custom_mesh
bin/custom_mesh_shared
bin/stereo
bin/text
bin/relativity
bin/custom_material
bin/procedural