#[link(name     = "kiss3d"
       , vers   = "0.0"
       , author = "Sébastien Crozet"
       , uuid   = "0914a60f-37cd-40dc-9779-d72f237d99cc")];
#[crate_type = "lib"];
#[warn(non_camel_case_types)]

extern mod std;
extern mod glfw;
extern mod glcore;
extern mod nalgebra;

pub mod window;
pub mod object;
pub mod shaders;
pub mod camera;
pub mod obj;

pub mod builtins
{
  pub mod sphere_obj;
  pub mod cube_obj;
  pub mod cone_obj;
  pub mod cylinder_obj;
}
