#[link(name     = "kiss3d"
       , vers   = "0.0"
       , author = "Sébastien Crozet"
       , uuid   = "0914a60f-37cd-40dc-9779-d72f237d99cc")];
#[crate_type = "lib"];
#[deny(non_camel_case_types)];
#[deny(non_uppercase_statics)];
#[deny(unnecessary_qualification)];
#[deny(missing_doc)];


extern mod std;
extern mod glfw;
extern mod glcore;
extern mod nalgebra;
extern mod stb_image;

pub mod window;
pub mod event;
pub mod object;
pub mod camera;
pub mod obj;
pub mod arc_ball;
pub mod first_person;

// the user should not see/use those modules
#[doc(hidden)]
pub mod shaders;

#[doc(hidden)]
pub mod lines_manager;

#[doc(hidden)]
pub mod shaders_manager;

#[doc(hidden)]
pub mod builtins
{
    pub mod loader;
    pub mod sphere_obj;
    pub mod cube_obj;
    pub mod cone_obj;
    pub mod cylinder_obj;
}
